<!DOCTYPE html>
<html>

<head>
    <title>Plan your next vacation!</title>
    <style>
        .suggestion {
            cursor: pointer;
            padding: 5px;
        }
    </style>
</head>

<body>
    <h1>Travel Planner</h1>

    <form id="preferencesForm" method="POST" action="/calculate-route">
        <label for="location">Locations:</label>
        <div id="locationContainer"> <!-- New container for all location inputs -->
            <div class="locationInputGroup">
                <input type="text" name="location" class="locationInput" required>
                <div class="citySuggestions"></div>
            </div>
        </div>
        <button type="button" onclick="addLocationInput()">Add Location</button>
        <button type="submit">Plan Route</button>
    </form>

    <div id="result" class="result"></div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>